*{
    margin: 0;
    padding:0;
    background-color:#121212;
}
html{
    height:100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow:hidden;
}
.toolbar{
    display: flex;
    height: 50px;
    flex: 0 0 auto;
    padding: 0 20px;
    color: #ffffff;
    background-color: #262626;
    position: relative;
    z-index: 3;
    align-items: center;
}

.toolbar .center{
    margin-left:27em;
    align-items: center;
    justify-content: center;
    width: 140px;
    background-color: inherit;
    text-transform: capitalize;
}
.left .toolbar_item{
    width: 89px;
    margin-right:-.6em;
    display: inline-block;
    height: 37px;
}
.center .toolbar_item{
    display: inline-flex;
    background-color: inherit;
}
.center .current{
    display:inline-block;
    margin-left: 8px;
    margin-right:8px;
    background-color: inherit;
}
.center .current div{
    background-color: inherit;
}
.left .toolbar_item button{
    width: 89px;
    height: 37px;
    }
button{
    border:none;
    background-color: #262626;
    border-radius: 4px;
    color: #ffffff;

}
.center .toolbar_item button{
    width: 40px;
    font-size: 22px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}
button:not(.control-button):hover{
    background-color:#0f3f6f;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.toolbar_item{
     background-color:#262626;
}
.content{
    position: relative;
    margin:0 auto;
    flex: 1 0 auto;

}
.content canvas{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); /* 50%为自身尺寸的一半 */
    -webkit-transform: translate(-50%, -50%);
}
.content img {
    height: 482px;
    width: auto;
}
.content canvas{
    margin:0 auto;
}

.editor_controls{
    display: flex;
    flex: 0 0 auto;
    z-index: 2;
    align-items: center;
    /* width: 100%; */
    background-color:#262626;
    height: 115px;
    position: relative;
}

.editor_controls .control-button{
    width: 35px;
    height: 52px;
    text-align: center;
    margin: 0 12px;
    flex: 0 0 auto;
}


.editor_controls span{
    background-color: inherit;
}
.editor_controls svg,.toolbar_item svg {
    width: 30px;
    height: 30px;
    background: none;
    color: #FFFFFF;
    fill: currentColor;
}

.editor_controls .raised_button{
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition:background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.editor_controls>div{
    padding: 0 30px;
    width: 100%;
    display: flex;
    background-color:inherit;
    text-align: center;
    align-items: center;
}
.editor_controls .cancel_button{
    background-color: #424242;
    display: inline-block;
    flex-shrink: 0;
    width: 64px;
    height: 36px;

}
/* .editor_controls .cancel_button { */
/* } */
.editor_controls .filter-list{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: inherit;
    color: white;
}
.filter-list .filter-item{
    width: 90px;
    background-color: inherit;
    border:   0.1px solid gray;
    height: 90px;
    padding: 5px;
    margin: 3px;
}

.filter-item img{
    width: 65px;
    height:65px;
}

.confirm_button{
    background-color:#8AB2E0;
}
.toolbar_item svg{
    width: 19px;
    height: 19px;
    vertical-align: middle;
}
.left .toolbar_item button span{
    background-color: inherit;
}
body.sideMenu{ margin:0; -webkit-transform:none; transform:none; }
#sideToggle{ display:none; }
#sideToggle:checked + aside{ left:0; }
#sideToggle:checked ~ #wrap{ padding-left:220px; }
body > aside{color:white; position:absolute; top: 50px; bottom:0; left:-200px; width:200px; background:#1a1e24; transition:0.2s ease-out; -webkit-transition:0.2s ease-out; }
body > aside > h2{ color:#FFF; text-align:center; font-weight:normal; padding:10px;
 }

 aside .slider{
     text-align: center;
 }
